<!DOCTYPE html>
<html ng-app="myModule">
	<head>
		<meta charset="UTF-8">
		<script src="http://cdn.bootcss.com/angular.js/1.5.8/angular.js"></script>
		<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
		<link href="css/index.css" rel="stylesheet" />
		<title>angular</title>
	</head>
	<body>
		<div ng-controller="helloAngular">
			{{date.text}}
			<input type="text" ng-model="name"/>
			{{name}}
			<div ng-repeat="v in colors">	
				{{v}}
			</div>
		</div>
	</body>
</html>
<script src="js/index.js"></script>

